
body {
    background-color:white;
}

@media print {
    body{
        visibility: hidden;
    }

    .PrintPreview, .PrintPreview * {
        display: block;
    }

    .container {
        visibility: visible !important;
        margin-left:-15% !important;
    }


    .container, colgroup {
        inline-size: max-content !important;
    }

}
