@page "/cv"
@inject NavigationManager Navigation
<div class="main-body">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="/Images/aaaa.PNG" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4>Software Developer</h4>
                            <p class="text-muted font-size-sm"> San Jose Del Monte City,<br /> Bulacan</p>
                        </div>
                    </div>

                    <h6 class=" mt-3"> <b> MY CONTACTS </b></h6>
                    <hr />

                    <div class="card mt-3">
                        <ul class="list-group list-group-flush d-inline-flex">
                            <li class="list-group-item ">
                                <span class="text-secondary">
                                    <img src="/Images/fb.png" alt="Admin" class="rounded-circle" width="30">
                                    <a href="https://www.facebook.com/artalenXXVII" target="_blank">
                                        Arth Allen
                                    </a>
                                </span>
                            </li>
                            <li class="list-group-item ">
                                <span class="text-secondary">
                                    <img src="/Images/phone.png" alt="Admin" class="rounded-circle" width="30">
                                    <a href="" target="_blank">
                                        +63 992 415 6620
                                    </a>
                                </span>
                            </li>

                            <li class="list-group-item d-inline-block ">
                                <span class="text-secondary">
                                    <img src="/Images/gmail.png" alt="Admin" class="rounded-circle" width="30">
                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=arthallengonzales@gmail.com" target="_blank">
                                        arthallengonzales@gmail.com
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body w-100">
                    <h6> <b> PERSONAL DATA </b></h6>
                    <hr />
                    @foreach (var p in personal)
                    {
                        <div class="row d-flex justify-content-between flex-wrap">
                            <div class="col-sm-6 mb-n3 mt-1">
                                <p class="d-inline-block">
                                    @p.label
                                </p>
                            </div>
                            <div class="col-sm-6 mt-1">
                                <span class="text-secondary"> @p.Item </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-2">
                <div class="card-header mb-3 align-items-center text-center">
                    <h3><b> ARTH ALLEN GONZALES</b></h3>
                </div>
            </div>
            <Skill />
            <Project />
            <Education />
        </div>

    </div>
</div>



@code{
    class Personal
    {
        public string label { get; set; }
        public string Item { get; set; }
    }

    List<Personal> personal = new List<Personal>
{
          new Personal { label = "BIRTHDATE", Item="Sept. 27, 1996" },
          new Personal { label = "GENDER", Item="MALE" },
          new Personal { label = "NATIONALITY", Item="FILIPINO" },
          new Personal { label = "CIVIL STATUS", Item="SINGLE" },
          new Personal { label = "RELIGION", Item="ROMAN CATHOLIC" }
    };
}