@page "/"

<h1>HOY MARA MATULOG KANA</h1>
<p>LOVE YOU PAKYU HAHA</p>

<img src="/Images/111.PNG" alt="Admin" class="rounded-circle" width="50">
<img src="/Images/222.PNG" alt="Admin" class="rounded-circle" width="50">
<img src="/Images/333.PNG" alt="Admin" class="rounded-circle" width="50">