@page "/"

    

    <div class="d-flex align-middle mt-lg-5">
        <div class="text-center vw-100 ">
            <img src="/Images/aaaa.PNG" alt="Admin" class="rounded-circle border-dark" width="200">
            <br />
            <p class="mt-3"> 
                My name is <b>Arth Allen Gonzales</b>   <br />
                and I’m a Software Developer based in the Philippines, <br />
                with 3 years of experience. <br />
                Feel free to take a look of my cv <a href="CV">here </a> and <a href="contact">contact me.</a>  <br />
                Remotely available at UTC+8
            </p>
        </div>
    </div>

