@page "/Skill"
@inject NavigationManager Navigation

<div class="card">
    <div class="card-body">
        <h6 class="mb-n2 ml-lg-1"> <img src="/Images/skill.png" alt="Admin" class="rounded-circle" width="30"> <b>  SKILL </b></h6>
        <hr />
        <div class="row card-group">
            <div class="col-sm-1">
            </div>

            <div class="row d-flex flex-wrap col-sm-11">
                <div class="card-body mt-n4">

                    <ul class="list-group d-inline-flex" style="list-style:square">

                        @foreach (var s in sk)
                        {
                            <li class="border-bottom ">
                                <p class="mb-1 ml-2">
                                    @s.name
                                </p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    class skill
    {
        public string name { get; set; }
    }

    List<skill> sk = new List<skill>{

         new skill { name = "Working knowledge on C#, .NET (Core, Blazor(WASM & Server), ASP.NET MVC, ASP.NET Webform and ASP.NET Web API(REST) )"},
         new skill { name = "Knowlegdeable on MudBlazor, Bootstrap, HTML, CSS, Javascript, jQuery, AJAX and JSON" },
         new skill { name = "Experience in OOP Concept, API Intergration, Agile Methodology, Microsoft SQL Server, Entity Framework, ADO.NET and GIT" },
         new skill { name = "Familiarity with Crystal Report(Reporting tool)"},
         new skill { name = "Web hosting service: IIS web server and Azure" },
         //new skill { name = "Database Management Software: SQL Server Management Studio" }
    };
}