@inherits LayoutComponentBase
    @*<div class=" col-sm-1">

        </div>*@

    <div class="sidebar col-md-2 ">

            <NavMenu />
    </div>
    <div class="container col-md-10" style="padding-top:10px;">
        @Body
    </div>
