<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column align-content-center">
        <li class="nav-item px-3 container-fluid">
            <NavLink class="nav-link bg-white" href="" Match="NavLinkMatch.All">
                <img src="/Images/home.png" alt="Admin" class="rounded-circle" width="30">
                <span aria-hidden="true" style="color:black"> Home</span>
            </NavLink>
        </li>

        <li class="nav-item px-3 container-fluid">
            <NavLink class="nav-link bg-white" href="CV">
                <img src="/Images/cv.png" alt="Admin" class="rounded-circle" width="30">
                <span aria-hidden="true" style="color:black"> CV</span>
            </NavLink>
        </li>
        <li class="nav-item px-3 container-fluid">
            <NavLink class="nav-link bg-white" href="MyProjects">
                <img src="/Images/project.png" alt="Admin" class="rounded-circle" width="30">
                <span aria-hidden="true" style="color:black"> Projects</span>
            </NavLink>
        </li>
        <li class="nav-item px-3 container-fluid">
            <NavLink class="nav-link bg-white" href="Contact">
                <img src="/Images/contact.png" alt="Admin" class="rounded-circle" width="30">
                <span aria-hidden="true" style="color:black">Contact</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
