<nav class="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon navbar-light"></span>
    </button>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

        <div class="navbar-nav d-flex flex-column align-items-center text-center">

            <ul class=" flex-column">
                <li class="nav-item nav-link">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item nav-link">
                    <NavLink class="nav-link" href="Project">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Project
                    </NavLink>
                </li>
                <li class="nav-item nav-link">
                    <NavLink class="nav-link" href="cv">
                        <span class="oi oi-plus" aria-hidden="true"></span> CV
                    </NavLink>
                </li>
                <li class="nav-item nav-link">
                    <NavLink class="nav-link" href="Contact">
                        <span class="oi oi-compass" aria-hidden="true"></span> Contact
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    private bool expandSubNavSettings;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        if (!expandSubNavSettings)
        {
            collapseNavMenu = !collapseNavMenu;
        }


    }
}
